


<div class="container">

<iframe src="<%=@translation.video[:video_path]%>"
              allowfullscreen="" width="420" height="235"></iframe>
<h1>this is where we add translation</h1>
  <%= render 'translations_form', translation: @translation %>
</div>

<br>
<br>
