


<div class="container">
  <div class="row">
  <div class="view_video">
    <h2><%="#{@translation.video.name}"%></h2>
      <iframe src="<%=@translation.video[:video_path]%>"width="660" height="375"></iframe>
    </div>
</div>


<h1>this is where we add translation</h1>
  <%= render 'translations_form', translation: @translation %>


<br>
<br>
