



<% if @video.translations.length > 0 %>
    <h1>orignal transcript:</h1>
  <p><%= @video.translations.first.json %></p>
  <% else %>
<div class="container">
  <%= simple_form_for [@video, @translation]  do |f| %>
    <%= f.input :json, as: :text %>
    <%= f.submit "Submit .JSON", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
