// Specific CSS for your home-page
.hero {
  background-color: #88C3C7;
  color: #E7F2F8;
  text-align: center;
  box-shadow: 10px 10px 5px  #E7F2F8;
  outline-bottom: 50px solid #4F999C;
}

.hero-type {
  font-size: 70px;
  color: #32405D;
  padding-top: 10px;

}
