
<style>
  #bm {
    height: 200px;
    width: 200px;
    position: relative;
  }
</style>


<div class="row ml-5 mt-5">
  <% @icons.each do |icon|%>
      <div class="ml-5 mr-3 mt-2 shadow" style="width: 16rem;">
        <div class="card-body">
            <div id="bm" data-icon="<%=icon.json%>"></div>
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
    </div>



