<div class="hero">
  <div = class="hero-type">
    <p> <b>CONTENDO</b></p>
  </div>
    <h2><b>Share</b>, <b>translate</b> and <b>create</b> audiovisual content</h2>
   <%= image_tag "hero.png" %>

  </div>

<br>
<p>Find me in app/views/pages/home.html.erb</p>



