encrypted_password.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  margin-left: 40px;
}

#cur_user {
  margin-left: -10px;
}

.nav-item-end {
  margin-left: 20px;
}

#login-button {
  margin: 5px 14px 1px 63px;
  padding: 4px 25px 3px 23px;
}

#online {
  color: #00F904;
  margin: 19px -3px 20px 10px;
  padding: 0px;
  font-size: 5px;
  vertical-align: text-top;
};

#offline {
  color: #EA3A31;
  margin: 19px -3px 20px 10px;
  padding: 0px;
  font-size: 5px;
  vertical-align: text-top;
};
